<h1>All users</h1>
<% @users.each do |user| %>
  <div class="user">
    <h3><%= user.name %></h3>
    <p>
      <%= raw truncate(user.name, length: 200, separator: '...') %>
      <br>
      <%= link_to 'Show', user %> |
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
<%= link_to 'new', new_user_path %>