<% @users.each do |user| %>
  <div class="user">
    <h3><%= user.name %></h3>
    <p>
      <%= raw truncate(user.name, length: 200, separator: '...') %>
      <br>
      <%= link_to 'Show', user %> |
      <%= link_to 'Edit', edit_user_path(user) %> |
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>
