<h1>Shorten a URL</h1>

<% @shortened_url.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>

<%= form_for @shortened_url do |f| %>
<%= f.label :original_url %>
<%= f.text_field :original_url %>
<%= f.label :new_url %> (leave blank to generate random)
<%= f.text_field :new_url %>
<%= f.submit %>
<% end %>